<!doctype html>
<html lang="en">

<head>
    <title>Flack</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/jpg" href="{{ url_for('static', filename='favicon.png')}}" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>

    <!-- socket io -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"
        integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>

    <!-- My CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">

    <!-- My JS -->
    <script src="{{ url_for('static', filename='index.js') }}"></script>

    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
        integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

</head>

<body>
    <h1 class="text-center mt-5 text-white" id="welcome_header">Flack</h1>
    <div class="container-fluid">
        <div class="row justify-content-center mt-5">
            <!-- left -->
            <div class="col-md-4 col-xl-3 chat">
                <div class="card mb-sm-3 mb-md-0 contacts_card">
                    <div class="card-header">
                        <h5 class="text-center text-white">Channels</h5>
                        <div class="input-group">
                            <input type="text" placeholder="Add Channel" name="" class="form-control add_channel">
                            <div class="input-group-prepend">
                                <span class="input-group-text add_channel_btn"><i class="fas fa-plus"></i></span>
                            </div>
                        </div>
                        <p class="mb-0 text-center channel_msg"></p>
                    </div>
                    <div class="card-body contacts_body">
                        <ui class="contacts" id="channelList">
                            <!--place for list of channels-->
                        </ui>
                        <!-- <hr>
                        <div class="card-header">
                            <h5 class="text-center text-white">Private Messages</h5>
                        </div>
                        <ui class="contacts" id="inbox">
                            place for list of messages
                        </ui> -->

                    </div>
                    <div class="card-footer"></div>
                </div>
            </div>
            <!-- right -->
            <div class="col-md-8 col-xl-6 chat">
                <div class="card">
                    <!-- <div class="card-header msg_head">
                        <div class="d-flex bd-highlight">
                            <div class="user_info">
                                <span id='channel_name'>Channel Name</span>
                            </div>
                        </div>
                    </div> -->
                    <div class="card-body msg_card_body" id="messages">
                        <!-- place for messages -->
                    </div>
                    <div class="card-footer">
                        <div class="input-group">
                            <textarea name="" id="messageInput" class="form-control type_msg"
                                placeholder="Type your message..."></textarea>
                            <div class="input-group-append" id="messageInputButton">
                                <span class="input-group-text send_btn"><i class="fas fa-location-arrow"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- prompt for display name -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalLabel">What Should We Call You? :)</h5>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label for="modalInput" class="col-form-label">Please Enter Your Display
                                        Name:</label>
                                    <input type="text" class="form-control" id="modalInput">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" id="modalButton" disabled>Ok</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end prompt for display name -->
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>